<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//MyBatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.mybatis01.dao.StudentDao">
    <!--配置返回数据类型-->
    <resultMap type="Student" id="listStudent">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="student_name" property="studentName"
                jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="addr" property="addr" jdbcType="VARCHAR" />
        <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    </resultMap>
    <!--查询全部-->
    <select id="allStudents" resultMap="listStudent">
        select * from student
    </select>
</mapper>